$dbrown: rgb(212, 68, 68);
$dyellow: #f39933;
$dgreen: #6bbe64;
$fontblack: #2f2f2f;
$bborder: #bbbbbb;

// Font Heading Color
$hcolor: #3a3838;
$pcolor: #504c4c;
$backgrey: #fafafa;

//lables
$lightlable: rgb(87, 87, 87);
