.blog_date{
    font-size: 1.4rem;
}

.blog_side_head{
    font-size: 2.2rem !important;
}

.blog_sidetag{
    font-size: 1.3rem;
    color: $dbrown !important;
}

.blog_sidetitle{
    font-weight: 600;
}