.topbar {
  height: 2.8rem;
  background-color: $dbrown;
}

.header {
  padding: 2.2rem 2rem;
  background-color: rgb(255, 255, 255);
  font-size: 1.8rem;
  position: relative;
  box-shadow: 0px 1px 4px rgba(212, 68, 68, 0.342);
  z-index: 44;
}

// Title Strip

//  1. Brown
.title_strip_brown {
  // background-color: $dbrown;
  background-image: linear-gradient(
      to right,
      rgba(212, 68, 68, 0.973),
      rgba(212, 68, 68, 0.788)
    ),
    url("../images/dogpattern.png");
  background-size: contain;
  background-repeat: repeat;
  padding: 1.8rem;

  &_h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    padding-left: 4.5rem;
  }

  &_ul {
    background-color: $dyellow;
    height: 3px;
    margin-left: 1rem;
  }
}

// 2. Yellow
.title_strip_yellow {
  background-color: $dyellow;
  margin: 1rem 0;

  &_h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
  }

  &_ul {
    background-color: $dbrown;
    height: 3px;
    margin-left: 1rem;
  }
}

// Nav And Header Bar Code

.nav_links {
  text-decoration: none;
  color: rgb(70, 70, 70);
  font-weight: 500;

  &:hover {
    color: $dbrown;
    border-bottom: 2px solid $dbrown;
    transition: all 0.2s ease;
  }
}

.h_nav_links {
  li {
    list-style-type: none;
    padding: 0rem 3rem;
    a {
      text-decoration: none;
      color: rgb(87, 87, 87);
      font-weight: 600;
    }

    a:hover {
      color: $dbrown;
      border-bottom: 2px solid $dbrown;
      transition: all 0.2s ease;
    }
  }
}

.header_mobile {
  display: none;
}

.handburger {
  display: none;
}

// header_2
.header_2 {
  padding: 2rem 0rem;
}

.header_btn {
  min-width: 10rem;
  background-color: $dbrown;
  font-weight: 600;
  font-size: 1.4rem;
  color: #fff !important;
  padding: 1rem 1.3rem;
  margin-left: 1rem;
}

.header_2_nav {
  background-color: $dbrown;
}

.head_top {
  margin-bottom: 2.5rem;
}

.btn_remove {
  background-color: $dbrown;
  border: none;
  color: #fff;
}

// .btn_remove:hover {
//   background-color: rgb(180, 33, 33);
// }

.head_nav_links {
  list-style-type: none;
  color: #fff;
  min-width: 12rem;
  padding: 1.3rem;
  transition: all 0.2s ease;
}

.head_nav_links:hover {
  background-color: rgb(180, 33, 33);
}

.nav_links {
  min-width: 10rem;
  list-style-type: none;
  color: #fff;
}

// New Navigation
.nav_items {
  background-color: rgb(223, 223, 223);
  padding: 0.8rem 1.9rem;
  border-right: 1px solid rgb(255, 247, 247);
  position: relative;
}

.nav_items_dropdown {
  position: absolute;
  display: none;

  top: 4rem;
  left: 0rem;

  &_link {
    background-color: rgb(248, 248, 248);
    border-bottom: 2px solid $dbrown;
    min-width: 20rem;

    &:hover {
      background-color: $dbrown;
      a {
        color: #fff !important;
      }
    }
  }
}

#d1:hover {
  .d1 {
    display: block;
  }
}

#d2:hover {
  .d2 {
    display: block;
  }
}

.nav_items:hover {
  background-color: $dbrown;
  color: #fff !important;
  .nav_items_link {
    color: #fff !important;
  }
}

.header_nav {
  background-color: #eee;
}
