.tranning_side_links {
  list-style-type: none;
  padding: 0.8rem 0rem;
  border-bottom: 2px solid #eee;
  font-size: 1.6rem;
  font-weight: 600;
  padding-left: 1.3rem;
  margin-bottom: 0.6rem;
  transition: all 0.2s ease;
}

.tranning_side_links:hover {
  color: $dbrown;
}

.tranning_page_head {
  background-color: $dbrown;
  color: #fff;
  padding: 1.8rem 2.6rem;
  border-radius: 3px;
}

.tranning_card {
  img {
    height: 20rem;
  }
}

.tranning_card_p {
  font-size: 1.8rem;
}

@media only screen and (max-width: 600px) {
  .m_hide {
    display: none;
  }
}
